[[extend 'layout.html']]

[[block page_head]]
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
[[end]]
<style>
    .card { transition: all .2s ease-in-out; }
    .card:hover { transform: scale(1.1); }
</style>


<div class="section">
    <div class="container is-centered is-max-widescreen">
        <h1 class="title">About Us</h1>
        <div class="block">
            As we reach the end of the pandemic, it is important for every person to
            get their vaccine shots so herd immunity could be reached. We created this
            website in order to give people access to all the available site where
            users are able to get one of the available vaccines brands on the market.
        </div>
        <h1 class="title is-4">Meet the Team</h1>
        <div class="block">
            <div class="columns is-centered">
                <div class="column has-text-centered style="font-size: 22px;">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-1by1">
                            <img src="../static/room12/leaked.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">David Pang</p>
                                    <p class="subtitle is-6"><a href="https://www.linkedin.com/in/realdavidpang/" target="_blank">@realdavidpang</a></p>
                                </div>
                            </div>
                            <div class="content">
                                Full stack developer of Vaccine Maps.<br>
                                <p id="david-quote-of-the-day" class="is-italic"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column has-text-centered"  style="font-size: 22px;">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-1by1">
                            <img src="../static/room12/joey.jpg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Joey Barcia</p>
                                    <p class="subtitle is-6"><a href="https://www.linkedin.com/in/joey-barcia/" target="_blank">@joeybarcia</a></p>
                                </div>
                            </div>
                            <div class="content">
                                Full stack developer of Vaccine Maps.<br>
                                Passionate about learning and problem solving.<br>
                                Aspiring software engineer.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column has-text-centered" style="font-size: 22px;">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-1by1">
                            <img src="../static/thumbnail.png">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Alfredo Renteria</p>
                                    <p class="subtitle is-6"><a href="https://www.linkedin.com" target="_blank">@url</a></p>
                                </div>
                            </div>
                            <div class="content">
                                content.<br>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column has-text-centered" style="font-size: 22px;">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-1by1">
                            <img src="../static/thumbnail.png">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Colin Xie</p>
                                    <p class="subtitle is-6"><a href="https://www.linkedin.com" target="_blank">@url</a></p>
                                </div>
                            </div>
                            <div class="content">
                                content.<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

[[block page_scripts]]
    <script src="js/about_us.js"></script>
[[end]]
