[[extend 'layout.html']]

<div class="section">
    <div class="container is-centered is is-max-widescreen">
        <h1 class="title">About Us</h1>
        <div class="block">
            As we reach the end of the pandemic, it is important for every person to
            get their vaccine shots so herd immunity could be reached. We created this
            website in order to give people access to all the available site where
            users are able to get one of the available vaccines brands on the market.
        </div>
        <h1 class="title is-4">Meet the Team</h1>
        <div class="block">
            <div class="columns is-mobile">
                <div class="column" style="font-size: 24px;">
                    <div class="panel is-link">
                        <p class="panel-heading">David Pang</p>
                    </div>
                </div>
                <div class="column" style="font-size: 24px;">
                    <div class="panel is-link">
                        <p class="panel-heading">Joey Barcia</p>
                    </div>
                </div>
                <div class="column" style="font-size: 24px;">
                    <div class="panel is-link">
                        <p class="panel-heading">Colin Xie</p>
                    </div>
                    <figure class="image is-1by1">
                        <img src="../static/Colin_Xie.jpg">
                    </figure>
                    <div class="content">
                        Full Stack developer and student in CSE183 Web Application<br>
                        In training to become a full-time developer.
                    </div>
                </div>
                <div class="column" style="font-size: 24px;">
                    <div class="panel is-link">
                        <p class="panel-heading">Alfredo Renteria</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>