[[extend 'layout.html']]

<div class="container is-centered is-max-widescreen">
    <div class="section">
        <h1 class="title">Vaccine Experience</h1>
        [[if logged_in % 2==1:]]
        <h2 class="subtitle">Reviews submitted by <strong class="has-text-info">[[=user["first_name"] ]] [[=user["last_name"] ]]</strong></h2>
        <table class="table is-striped is-fullwidth">
            <tr>
                <th>Vaccine Type</th>
                <th>Vaccination Site</th>
                <th>Rating</th>
                <th>Feedback</th>
                <th>Day Reported</th>
                <th>Edit</th>
                <tH>Delete</tH>
            </tr>
            [[for row in review_info:]]
            <tr>
                <td>[[=row["vaccine_type"] ]]</td>
                <td><a target='_blank' href="[[=row['address_link'] ]]">[[=row["site_address"] ]], [[=row["city"] ]] [[=row["state"] ]]</a></td>
                <td>[[=row["rating"] ]]</td>

                <td>
                    <div style="width: 442px; word-wrap: break-word">[[=row["feedback"] ]]</div>
                </td>
                <td>[[=row["vaccinated_date"] ]]</td>
                <td>
                    <a class="button is-ghost" href="[[=URL('edit_review', row['id'], signer=url_signer)]]">
                        <i class="fa fa-fw fa-edit fa-lg" style="color:hsl(204, 86%, 53%)"></i>
                    </a>
                </td>
                <td>
                    <a class="button is-ghost" href="[[=URL('delete_review', row['id'], signer=url_signer)]]">
                        <i class="fa fa-fw fa-trash fa-lg" style="color:hsl(348, 100%, 61%)"></i>
                    </a>
                </td>
            </tr>
            [[pass]]
        </table>
        [[else:]]
        <h2 class="subtitle">Please login to leave a review!</h2>
        [[pass]]
        <a class="button is-info" href="[[=URL('index')]]">
          <span>Back</span>
        </a>
        [[if can_review == True:]]
        <a class="button is-info" href="[[=URL('submit_review', signer=url_signer)]]">
          <span>Submit Review</span>
        </a>
        [[pass]]
        <a class="button is-info" href="[[=URL('view_reviews')]]">
          <span>View Reviews</span>
        </a>
    </div>
</div>
