[[extend 'layout.html']]

<div class="section">
    <div class="container is-centered is-max-widescreen">
        <div class="block">
            <h1 class="title">Frequently Asked Questions</h1>
        </div>

        <article class="message is-info">
            <div class="message-header">
                <p>Is this website trustworthy?</p>
            </div>
            <div class="message-body">
                Yes, all of our data is gathered from multiple trusted sources around the internet.
                <div>
                    <a href="https://ourworldindata.org/" target="_blank">• Vaccination Rate Data</a>
                </div>
                <div>
                    <a href="https://www.vaccinespotter.org/" target="_blank">• Vaccination Availability Data</a>
                </div>
                Reviews of vaccination sites are freely given by users.
            </div>
        </article>
        <article class="message is-info">
            <div class="message-header">
                <p>Can I trust the vaccine?</p>
            </div>
            <div class="message-body">
                <div>
                    <a href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/coronavirus/is-the-covid19-vaccine-safe" target="_blank">Yes</a>
                </div>
                <div>
                    <a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/safety/safety-of-vaccines.html" class="has-text-weight-bold" target="_blank">Yes but in bold</a>
                </div>
            </div>
        </article>
        <article class="message is-info">
            <div class="message-header">
                <p>Should I get the vaccination even if I already had COVID-19?</p>
            </div>
            <div class="message-body">
                <a href="https://www.uchicagomedicine.org/forefront/coronavirus-disease-covid-19/do-i-need-a-vaccine-if-i-had-covid" target="_blank">
                    According to the University of Chicago's Medical School, "yes, absolutely. The SARS-CoV-2 virus is still circulating in our communities,
                    and we haven’t reached herd-immunity levels of vaccination yet."
                </a>
            </div>
        </article>
        <article class="message is-info">
            <div class="message-header">
                <p>Where can I find the nearest vaccination sites?</p>
            </div>
            <div class="message-body">
                <a href="[[=URL('vaccine_search')]]" target="_blank">
                    Here on our website!
                </a>
            </div>
        </article>
        <article class="message is-info">
            <div class="message-header">
                <p>Are the side effects unbearable?</p>
            </div>
            <div class="message-body">
                Pain is subjective and your mileage may vary on side effects. Side effects are natural and is your body's response to building immunity.
                Temporary pain is worth it if even one person's life is saved.
                <a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/expect/after.html">
                    More information.
                </a>
            </div>
        </article>
        <article class="message is-info">
            <div class="message-header">
                <p>Do I need to still wear a mask after getting vaccinated?</p>
            </div>
            <div class="message-body">
                <a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/fully-vaccinated.html#:~:text=Fully%20vaccinated%20people%20can%20resume,local%20business%20and%20workplace%20guidance.">
                    CDC states that "fully vaccinated people can resume activities without wearing a mask or physically distancing,
                    except where required by federal, state, local, tribal, or territorial laws, rules, and regulations,
                    including local business and workplace guidance."
                </a>
            </div>
        </article>
        <article class="message is-info">
            <div class="message-header">
                <p>When should I schedule my second shot?</p>
            </div>
            <div class="message-body">.
                <a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/second-shot.html#:~:text=The%20timing%20between%20your%20first,)%20after%20your%20first.">
                    Pfizer requires a second shot 21 days after the first while Moderna requires a second shot 28 days after
                    the initial dose and Johnson & Johnson is a single shot vaccine.
                </a>
            </div>
        </article>
        <article class="message is-info">
            <div class="message-header">
                <p>When is herd immunity achieved?</p>
            </div>
            <div class="message-body">.
                <a target="_blank" href="https://www.mayoclinic.org/diseases-conditions/coronavirus/in-depth/herd-immunity-and-coronavirus/art-20486808">
                    Herd immunity for COVID-19 is achieved when about 70% of the population has been vaccinated or recovered.
                </a>
            </div>
        </article>
        <article class="message is-info">
            <div class="message-header">
                <p>How long does the vaccine last?</p>
            </div>
            <div class="message-body">.
                <a target="_blank" href="https://www.healthline.com/health-news/how-long-does-immunity-from-covid-19-vaccination-last">
                    Reports show that the vaccines last for six months, potentially longer.
                </a>
            </div>
        </article>
        <article class="message is-info">
            <div class="message-header">
                <p>Can my child get vaccinated?</p>
            </div>
            <div class="message-body">
                <a target="_blank" href="https://www.healthychildren.org/English/tips-tools/ask-the-pediatrician/Pages/when-can-children-get-the-COVID-19-vaccine.aspx">
                    As of June 2021, children age 12 and over are eligible to receive the FDA approved Pfizer-BioNTech vaccine.
                </a>
            </div>
        </article>
        <div class="block">
            <h2 class="subtitle has-text-centered has-text-weight-bold">
                <a target="_blank" href="https://www.mayoclinichealthsystem.org/hometown-health/featured-topic/11-covid-19-myths-debunked">
                    For other myths regarding COVID-19 and the vaccine.
                </a>
            </h2>
        </div>
        <div class="block">
            <h2 class="subtitle has-text-centered has-text-weight-bold">
                <a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/faq.html">
                    For all other questions regarding COVID-19 and the vaccine.
                </a>
            </h2>
        </div>
    </div>
</div>
