[[extend 'layout.html']]

<div class="section">
    <div class="block">
        <div class="notification is-dark">
            <div class="columns is-mobile">
                <div class="column">
                    <div class="block">
                        <figure class="notification is-link">
                            <button class="button">Logo</button>
                        </figure>
                    </div>
                </div>
                <div class="column is-one-fourth"></div>
                <div class="column">
                    <div class="notification is-link">
                        <div class="columns is-mobile">
                            <div class="column">
                                <button class="button is-small is-success is-family-sans-serif has-text-weight-bold">Home</button>
                            </div>
                            <div class="column">
                                <button class="button is-small is-success is-family-sans-serif has-text-weight-bold">Find Vaccines</button>
                            </div>
                            <div class="column">
                                <button class="button is-small is-success is-family-sans-serif has-text-weight-bold">Vaccine Experiences</button>
                            </div>
                            <div class="column">
                                <button class="button is-small is-success is-family-sans-serif has-text-weight-bold">Donate</button>
                            </div>
                            <div class="column">
                                <button class="button is-small is-success is-family-sans-serif has-text-weight-bold">About Us</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class='title'>
            Vaccinavigator
        </div>
    </div>
</div>