[[extend 'layout.html']]

<div class="section">
   <div class="container is-centered is-max-widescreen">
      <h1 class="title">Welcome</h1>
      <div class="columns">
         <div class="column">
            <img src="../static/thumbnail.png">
         </div>
         <div class="column">
            Suspendisse sed nibh eget nulla facilisis gravida. Maecenas sodales eu velit in consectetur. Phasellus et
            tincidunt est. Donec vestibulum molestie ullamcorper. Cras volutpat diam eget mi condimentum, id placerat
            neque
            posuere. Quisque ut accumsan neque, sit amet bibendum tortor. Quisque sed varius massa. Donec interdum eu
            turpis
            in fermentum. Nullam at diam pellentesque lacus hendrerit efficitur in quis velit. Cras mi diam, imperdiet
            malesuada odio et, porta sollicitudin quam. Pellentesque condimentum congue rhoncus.

            Nunc bibendum lacus a dolor consectetur vestibulum. Suspendisse potenti. Curabitur aliquam in enim ac
            finibus. Nam
            eu est ultrices, maximus justo vitae, pellentesque sapien. Vivamus tristique mattis facilisis. Duis volutpat
            pulvinar libero, non vehicula dui commodo ac. Nulla facilisi. Fusce euismod euismod dolor quis ultrices.
            Praesent
            rutrum diam at lectus suscipit, sollicitudin pulvinar orci eleifend. Fusce egestas risus in venenatis porta.
            Donec
            fringilla tortor diam, eget accumsan quam tempor posuere. Etiam a magna ac mi viverra luctus.
         </div>
      </div>
      <div class="block">
         <h2 class="subtitle is-size-3">Global Vaccination Rates</h2>
         <iframe src="https://ourworldindata.org/explorers/coronavirus-data-explorer?zoomToSelection=true&pickerSort=desc&pickerMetric=total_vaccinations&hideControls=true&Metric=People+vaccinated&Interval=Cumulative&Relative+to+Population=true&Align+outbreaks=false&country=OWID_WRL~USA"
              loading="lazy" style="width: 100%; height: 600px; border: 0px none;">
         </iframe>
      </div>
      <div class="mx-auto">
         <h2 class="subtitle is-size-3">Vaccination Rates by State</h2>
         <div class='tableauPlaceholder block' id='state_vaccination_chart' style="position: relative; width: 100%; height: 527px; overflow: hidden; display: block;">
            <noscript>
               <a href='#'>
                  <img alt='Vaccine ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CO&#47;COVID-19VaccineDashboardPublicv2&#47;Vaccine&#47;1_rss.png' style='border: none' />
               </a>
            </noscript>
            <object class='tableauViz'  style='display:none;'>
               <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
               <param name='embed_code_version' value='3' />
               <param name='site_root' value='' />
               <param name='name' value='COVID-19VaccineDashboardPublicv2&#47;Vaccine' />
               <param name='tabs' value='no' />
               <param name='toolbar' value='yes' />
               <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CO&#47;COVID-19VaccineDashboardPublicv2&#47;Vaccine&#47;1.png' />
               <param name='animate_transition' value='yes' />
               <param name='display_static_image' value='yes' />
               <param name='display_spinner' value='yes' />
               <param name='display_overlay' value='yes' />
               <param name='display_count' value='yes' />
               <param name='language' value='en' />
               <param name='filter' value='publish=yes' />
            </object>
         </div>
      </div>
   </div>
</div>

<script type='text/javascript'>
   var divElement = document.getElementById('state_vaccination_chart');
   var vizElement = divElement.getElementsByTagName('object')[0];
   if(divElement.offsetWidth > 800) {
      vizElement.style.minWidth='500px';
      vizElement.style.maxWidth='800px';
      vizElement.style.width='100%';
      vizElement.style.height='527px';
   } else if(divElement.offsetWidth > 500) {
      vizElement.style.minWidth='500px';
      vizElement.style.maxWidth='800px';
      vizElement.style.width='100%';
      vizElement.style.height='527px';
   } else {
      vizElement.style.width='100%';
      vizElement.style.height='827px';
   }
   var scriptElement = document.createElement('script');
   scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
   vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>

<style>
   .state_vaccination_chart {
     position: fixed;
     top: 50%;
     left: 50%;
     margin-top: -50px;
     margin-left: -100px;
   }
</style>
