<!DOCTYPE html>
<html lang="en">

<head>
  <base href="[[=URL('static')]]/">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon"
    href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA==" />
  <link rel="stylesheet" href="css/bulma.css">
  <!-- apps/vaccineNavigator/css/mystyle.css -->
  <!-- <link rel="stylesheet" href="css/mystyle.scss"> -->
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
  [[block page_head]]
  <!-- individual pages can customize header here -->[[end]]
</head>

<body>
  <!-- header -->
  <section class="hero is-headercolor is-small">
    <div class="hero-body has-text-centered">
      <!--centered container-->
      <div class="container is-max-widescreen is-centered">
        <!-- <h1 class="title">TEXT</h1> -->
        <!-- <img src="../static/logoplaceholder.png"> -->

        <div class="columns is-vcentered">

          <div class="column is-one-third">
            <div class="columns">
              <div class="column is-3">
                <img src="../static/vaccine_maps_logo.png" width="100%" height="100%" >
              </div>
              <div class="column is-9 my-2">
                <a class="navbar-item" href="[[=URL('index')]]"><h1 class="title">Vaccine Maps</h1></a>
              </div>
            </div>
          </div>
          <div class="colum is-two-thirds">
            <div class="column">
              <nav class="navbar-end" role="navigation" aria-label="main navigation">
          
                <a class="navbar-item" href="[[=URL('vaccine_search')]]">
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fas fa-syringe"></i>
                    </span>
                    <span>Book an Appointment</span>
                  </span>
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Reviews
                  </a>
                  <div class="navbar-dropdown">
                    <a href="[[=URL('experience')]]" class="navbar-item">Leave a Review</a>
                    <a href="[[=URL('view_reviews')]]" class="navbar-item">View Reviews</a>
                    <a href="[[=URL('test_data')]]" class="navbar-item">Data Visualization</a>
                  </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    About
                  </a>
                  <div class="navbar-dropdown">
                    <a href="" class="navbar-item">FAQ</a>
                    <a href="" class="navbar-item">Contact Us</a>
                    <a href="" class="navbar-item">About Us</a>
                  </div>
                </div>
          
                <div class="buttons">
                  [[if globals().get('user'):]]
                  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-primary">
                      [[=globals().get('user').get('email')]]
                    </a>
                    <div class="navbar-dropdown">
                      <a class="navbar-item" href="[[=URL('auth/logout')]]">Logout</a>
                      <a class="navbar-item" href="[[=URL('auth/profile')]]">Profile</a>
                      <a class="navbar-item" href="[[=URL('auth/change_password')]]">Change Password</a></li>
          
                    </div>
                  </div>
                  [[else:]]
                  <a class="button is-light" href="[[=URL('auth/register')]]">Sign up</a>
                  <a class="button is-info" href="[[=URL('auth/login')]]">Log in</a>
                  [[pass]]
                </div>
              </nav>
            </div>
          
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- beginning of HTML inserted by extending template -->
  <!--<div class="container is-centered is-max-widescreen">-->
    [[include]]
  <!--</div>-->
  <!-- end of HTML inserted by extending template -->

  <!--Start footer content-->
  <div class="flex-wrapper">

    <footer class="footer has-background-headercolor">
      <div class="container is-centered is-max-widescreen">
        <div class="columns">
          <div class="column">
            <h2 class="subtitle">About</h2>
            Text here column 1.Text here column 1.Text here column 1.Text here column 1.
            Text here column 1.Text here column 1.Text here column 1.Text here column 1.
          </div>
          <div class="column">
            <h2 class="subtitle">Links</h2>
            Text here in column 2. Maybe add an about us.Text here in column 2. Maybe add an about us.
            Text here in column 2. Maybe add an about us.Text here in column 2. Maybe add an about us.
          </div>
          <div class="column">
            <h2 class="subtitle">Info</h2>
            Column 3. Maybe some more information goes here. Anything goes.
          </div>
        </div>
      </div>
    </footer>
  </div>

</body>
<script src="js/sugar.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/utils.js"></script>
<script src="https://kit.fontawesome.com/63140bd432.js" crossorigin="anonymous"></script>
[[block page_scripts]]
<!-- individual pages can add scripts here -->[[end]]

</html>
