<!DOCTYPE html>
<html lang="en">

<head>
  <base href="[[=URL('static')]]/">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon"
    href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA==" />
  <link rel="stylesheet" href="css/bulma.css">
  <!-- apps/vaccineNavigator/css/mystyle.css -->
  <!-- <link rel="stylesheet" href="css/mystyle.scss"> -->
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
  [[block page_head]]
  <!-- individual pages can customize header here -->[[end]]
</head>

<body>
  <!-- header -->
  <section class="hero is-headercolor is-small">
    <div class="hero-body has-text-centered">
      <!--centered container-->
      <div class="container is-max-widescreen is-centered">
        <!-- <h1 class="title">TEXT</h1> -->
        <!-- <img src="../static/logoplaceholder.png"> -->
        <div class="columns is-vcentered">
          <div class="column is-narrow"><img src="../static/logoplaceholder.png" width="50%" height="50%"></div>
          <div class="column is-narrow">
            <h1 class="title">Vaccine Maps</h1>
          </div>
          <div class="column">
            <nav class="navbar-end" role="navigation" aria-label="main navigation">
              <a class="navbar-item"><span class="icon-text">
                <span class="icon">
                  <i class="fa fa-search"></i>
                </span>
                <span>Search</span>
              </span></a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Link1
                </a>
                <div class="navbar-dropdown">
                  <a href="" class="navbar-item">dropdown1</a>
                  <a href="" class="navbar-item">dropdown2</a>
                  <a href="" class="navbar-item">dropdown3</a>
                </div>
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  About
                </a>
                <div class="navbar-dropdown">
                  <a href="" class="navbar-item">dropdown1</a>
                  <a href="" class="navbar-item">dropdown2</a>
                  <a href="" class="navbar-item">dropdown3</a>
                </div>
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Reviews
                </a>
                <div class="navbar-dropdown">
                  <a href="" class="navbar-item">dropdown1</a>
                  <a href="" class="navbar-item">dropdown2</a>
                  <a href="" class="navbar-item">dropdown3</a>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- beginning of HTML inserted by extending template -->
  [[include]]
  <!-- end of HTML inserted by extending template -->

  <!--Start footer content-->
  <div class="flex-wrapper">

  <footer class="footer has-background-headercolor">
    <div class="container is-centered is-max-widescreen">
      <div class="columns">
        <div class="column">
          <h2 class="subtitle">About</h2>
          Text here column 1.Text here column 1.Text here column 1.Text here column 1.
          Text here column 1.Text here column 1.Text here column 1.Text here column 1.
        </div>
        <div class="column">
          <h2 class="subtitle">Links</h2>
          Text here in column 2. Maybe add an about us.Text here in column 2. Maybe add an about us.
          Text here in column 2. Maybe add an about us.Text here in column 2. Maybe add an about us.
        </div>
        <div class="column">
          <h2 class="subtitle">Info</h2>
          Column 3. Maybe some more information goes here. Anything goes.
        </div>
      </div>
    </div>
  </footer>
  </div>

</body>
<script src="js/sugar.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/utils.js"></script>
[[block page_scripts]]
<!-- individual pages can add scripts here -->[[end]]

</html>