[[extend 'layout.html']]

<div class="section" id="vue-target">
   <!-- Put the table here -->
  <div class="column">
      <div class="field">
              <div class="control">
                   <input type="text" placeholder="Enter a Zipcode" v-model="zipcode" class="input">
                   <input type="submit" @click="search" value="Search" class="button">
              </div>
      </div>
  </div>
  <div id="mapid"></div>
</div>

[[block page head]]
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
     integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
     integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
     crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>


    <style>
        #mapid {
         height: 700px;
        }
    </style>
    <script>let api_key = "[[=API_KEY]]"; let user_id = "[[=USER_ID]]"</script>
    <script src="js/test_map.js"></script>
[[end]]


