[[extend 'layout.html']]

<!-- page_head customizes header for this page -->
[[block page_head]]
<!-- The stylesheet below is for (hosting) Leaflet 1.7.1 w/ subresource integrity enabled -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
[[end]]

<div class="section" id="vue-target" v-cloak>
    <h1 class="title">Search for your nearest vaccination site!</h1>
    <div class="columns block is-mobile">
        <div class="column">
            <div class="field">
                <label class="label">Zipcode (5 digits, U.S. only)</label>
                <div class="control">
                    <input type="text" placeholder="Enter a Zipcode" v-model="zipcode" class="input">
                </div>
            </div>
            <div class="field">
                <!--<div class="control"><input type="text" placeholder="Range" v-model="range" class="input">
                </div> -->
                <label class="label">Search Radius</label>
                <div class="control">
                    <!-- Single-select drop down menu for search radius in miles -->
                    <select v-model="range">
                        <!-- ***** NOTE: The following 2 lines are Vue's recommendation for
                                adding single-select drop-down menu options.
                                However, in 'app.data' - test_map.js, we default to 10 miles,
                                therefore, user doesn't have option to not select a mile range -->
                        <!-- Recommended by vue to prevent rendering 'unselected' states -->
                        <!-- <option disabled value="">Please select one</option> -->

                        <!-- ':value"{}"' -- inline object literal -->
                        <!-- strings are bound to number int -->
                        <option :value="{ number: 1 }">1 mile</option>
                        <option :value="{ number: 5 }">5 miles</option>
                        <option :value="{ number: 10 }">10 miles</option>
                        <option :value="{ number: 25 }">25 miles</option>
                        <option :value="{ number: 50 }">50 miles</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="submit" @click="search" value="Search" class="button is-success">
                </div>
            </div>
            <!-- Table -->
                <table v-if="page_initialized" class="table is-fullwidth is-narrow is-hoverable">
                    <thead>
                        <tr>
                            <th>Provider</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Distance (miles)</th>
                            <th>In Stock</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="r in rows">
                            <td>{{r.provider}}</td>
                            <td><a target='_blank' :href="r.addressLink"> {{r.address}} </a></td>
                            <td>{{r.city}}</td>
                            <td>{{r.distance}}</td>
                            <td>{{r.availability}}</td>
                            <td>
                                <span v-for="star_idx in [1, 2, 3, 4, 5]">
                                  <i v-if="star_idx <= r.rating" class="fa fa-star fa-xs"></i>
                                  <i v-if="star_idx > r.rating" class="fa fa-star-o fa-xs"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="column is-7">
            <div id="mapid"></div>
        </div>
    </div>
</div>

[[block page_scripts]]
<!-- The script below is for (hosting) Leaflet 1.7.1 w/ subresource integrity enabled -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<style>
    [v-cloak] {
        display: none;
    }

    #mapid {
        height: 700px;
    }

    table tbody {
        display: block;
        max-height: 450px;
        overflow-y: scroll;
    }

    table thead,
    table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
</style>
<script>
        let api_key = "[[=API_KEY]]";
        let user_id = "[[=USER_ID]]";
        let load_ratings_url = "[[=XML(load_ratings_url)]]";
</script>
<script src="js/test_map.js"></script>
[[end]]
