[[extend 'layout.html']]

<!-- page_head customizes header for this page -->
[[block page_head]]
<!-- The stylesheet below is for (hosting) Leaflet 1.7.1 w/ subresource integrity enabled -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
[[end]]
<style>
    [v-cloak] {
        display: none;
    }

    #mapid {
        height: 700px;
    }

    table tbody {
        display: block;
        max-height: 450px;
        overflow-y: scroll;
    }

    table thead,
    table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    #site_table{
        display: block;
        max-height: 500px;
        overflow-y: scroll;
    }

    select {
        height: 40px;
        width: 100%;
        border: solid 1px;
        border-radius: 4px;
        font-size: 1em;
    }
</style>

<div class="section" id="vue-target" v-cloak>
    <h1 class="title">Search for your nearest vaccination site!</h1>
    <h2 class="subtitle">Double click the map to get sites in current view!</h2>
    <div class="columns block is-mobile">

        <div class="column"> <!-- Column for Vaccine Search -->
            <div class="columns block is-mobile">
                <div class="column is-one-third">
                    <label class="label">Zipcode (U.S. only)</label>
                </div>
                <div class="column is-one-third">
                    <label class="label">Search Radius</label>
                </div>
                <div class="column">
                    <label class="label">Vaccine Type</label>
                </div>
            </div>

            <div class="columns block is-mobile">
                <div class="column is-3">
                    <div class="field">
                        <div class="control has-icons-left">
                            <input type="text" placeholder="Zipcode" v-model="zipcode" @keyup.enter.self="search" class="input">
                            <span class="icon is-small is-left">
                                <i class="fa fa-map-marker"></i>
                            </span>
                        </div>
                    </div>
                </div> <!-- END COL FOR ZIPCODE FIELD -->
                <div class="column is-3 is-offset-1">
                    <div class="field">
                        <div class="control has-icons-left">
                            <div class="select"> <!-- Single-select drop down menu for search radius in miles -->
                                <select v-model="range"> <!-- :value"{}" -- inline object literal; strings are bound to numbers -->
                                    <option :value="{ number: 1 }"><span>1 mile</span></option>
                                    <option :value="{ number: 5 }"><span>5 miles</span></option>
                                    <option :value="{ number: 10 }"><span>10 miles</span></option>
                                    <option :value="{ number: 25 }"><span>25 miles</span></option>
                                    <option :value="{ number: 50 }"><span>50 miles</span></option>
                                </select>
                            </div>
                            <span class="icon is-small is-left">
                                <i class="fa fa-road"></i>
                            </span>
                        </div>
                    </div>
                </div><!-- END COL FOR MILE RADIUS SELECT -->
                <div class="column is-offset-1">
                    <div class="field">
                        <div class="control">
                            <div class="tile is-ancestor">
                                <div class="tile is-vertical">
                                    <article class="tile">
                                        <label class="checkbox">
                                            <input type="checkbox" v-model="pfizer_selected"> Pfizer-BioNTech
                                        </label>
                                    </article>
                                    <article class="tile">
                                        <label class="checkbox">
                                            <input type="checkbox" v-model="moderna_selected"> Moderna
                                        </label>
                                    </article>
                                    <article class="tile">
                                        <label class="checkbox">
                                            <input type="checkbox" v-model="jj_selected"> Johnson & Johnson
                                    </article>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="submit" @click="search" value="Search" class="button is-success">
                </div>
            </div>

            <div v-if="invalid_zipcode_error">
                <p style="color:red"><b>Please enter a valid zipcode.</b></p>
            </div>
            <div v-if="invalid_vacc_search">
                <p style="color:red"><b>Please increase the search radius or try a neighboring zipcode.</b></p>
            </div>
            
            <!-- Table -->
            <div class="block" v-if="rows.length"><strong>There are {{rows.length}} sites near you. {{available_sites}} sites are in stock.</strong></div>
            <section id="site_table">
                <div @mouseover="highlight(r._idx, true)" 
                    @mouseout="highlight(r._idx, false)"
                    :class="{ 'box block has-background-grey-lighter': r.highlight,
                            'box block has-background-white-ter': !r.highlight}"
                    @click="openMarkerPopup(r.id, r._idx, r.toggle)" v-for="r in rows">
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <strong>{{r.provider}}</strong>
                            </div>
                        </div>
                        <div class="level-right">
                            <a target='_blank' :href="r.addressLink">{{r.address}} <i class="fa fa-car fa-lg"></i></a>
                        </div>
                    </nav>
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <div>
                                    <i class="fa "
                                    :class="{ 'fa-check-circle fa-lg': r.availability == 'Yes',
                                              'fa-times-circle fa-lg': r.availability == 'No'}"
                                    :style="[ r.availability == 'Yes' ? {color: 'hsl(141, 71%, 48%)'} : {color: 'hsl(360, 100%, 61%)'} ]"
                                    ></i>
                                </div>
                            </div>
                            <div class="level-item">
                                <span>•</span>
                            </div>
                            <div class="level-item">
                                {{r.distance}} miles
                            </div>
                            <div class="level-item">
                                <span>•</span>
                            </div>
                            <div class="level-item">
                                <span v-for="star_idx in [1, 2, 3, 4, 5]">
                                    <i v-if="star_idx <= r.rating" class="fa fa-star fa-xs"></i>
                                    <i v-if="star_idx > Math.ceil(r.rating)" class="fa fa-star-o fa-xs"></i>
                                    <i v-if="star_idx > Math.floor(r.rating) && star_idx <= Math.ceil(r.rating)" class="fa fa-star-half-alt fa-xs"></i>
                                </span>
                            </div>
                        </div>
                        <div class="level-right">
                            {{r.city}},
                            {{r.state}}
                            {{r.zipcode}}
                        </div>
                    </nav>
                </div>
            </section>
        </div>
        <div class="column is-7">
            <div id="mapid"></div>
        </div>
    </div>
</div>

[[block page_scripts]]
<!-- The script below is for (hosting) Leaflet 1.7.1 w/ subresource integrity enabled -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin="">
</script>
<script>
        let api_key = "[[=API_KEY]]";
        let user_id = "[[=USER_ID]]";
        let load_ratings_url = "[[=XML(load_ratings_url)]]";
</script>
<script src="js/vaccine_search.js"></script>
[[end]]
