[[extend 'layout.html']]

<style>
    th {
        cursor: pointer;
    }
</style>

<div class="container is-centered is-max-widescreen">
    <div class="section">
        <h1 class="title">Vaccine Reviews</h1>
        <!-Feel free to add a data visualization thing here. Could be made using vue charts or something->
        <div class="block">
            <table class="table is-striped is-fullwidth" id="vaccine-table">
                <tr>
                    <th onclick="sortTable(0)">Vaccine Type <i class="fa fa-sort"></i></th>
                    <th onclick="sortTable(1)">Vaccination Site <i class="fa fa-sort"></th>
                    <th onclick="sortTable(2)">City <i class="fa fa-sort"></th>
                    <th onclick="sortTable(3)">State <i class="fa fa-sort"></th>
                    <th onclick="sortTable(4)">Rating <i class="fa fa-sort"></th>
                    <th onclick="sortTable(5)">Feedback <i class="fa fa-sort"></th>
                    <th onclick="sortTable(6)">Day Reported <i class="fa fa-sort"></th>
                </tr>
                <!-Sorted by reverse chronological order, must handle when many reviews with pages or scrollable table->
                [[for row in review_info:]]
                <tr>
                    <td>[[=row["vaccine_type"] ]]</td>
                    <td><a target='_blank' href="[[=row['address_link'] ]]">[[=row["site_address"] ]]</a></td>
                    <td>[[=row["city"] ]]</td>
                    <td>[[=row["state"] ]]</td>
                    <td>[[=row["rating"] ]]</td>
                    <td><div style="width: 442px; word-wrap: break-word">[[=row["feedback"] ]]</div></td>
                    <td>[[=row["vaccinated_date"] ]] </td>
                </tr>
                [[pass]]
            </table>
        </div>
        <a class="button is-info" href="[[=URL('experience')]]">
          <span>Back</span>
        </a>
    </div>
</div>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("vaccine-table");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

